<html>
  <head>
    <title> ToDo App </title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100"     rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
       <h2>Random Comic</h2>
       <form action ="/addcomic" method="POST">
        <img src="<%= newComic %>">
        <h2>First Comic</h2>
            <a href="<%= newComic %>">First Comic</a>

        <button formaction="/randomComic" type="submit" id="top"> Remove </button>
      </form>

      <h2>Random Comic</h2>


    </div>

  </body>
</html>